<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">conduit</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" *ngIf="isAuth">
        <a class="nav-link" routerLink="/editor">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/settings" *ngIf="isAuth">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!isAuth">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" *ngIf="!isAuth">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/@'+user?.username" *ngIf="isAuth">
          <img *ngIf="user?.image" [src]="user?.image" class="user-pic">
          {{user?.username}}
        </a>
      </li>
    </ul>
  </div>
</nav>